USE [master]
GO
/****** Object:  Database [banxe1]    Script Date: 3/19/2024 9:46:07 PM ******/
CREATE DATABASE [banxe1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'banxe1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\banxe1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'banxe1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\banxe1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [banxe1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [banxe1]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 3/19/2024 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[salespersonid] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [int] NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[salespersonid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 3/19/2024 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[CarID] [int] NOT NULL,
	[Make] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Year] [int] NULL,
	[classify] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Availability] [int] NULL,
	[gianhap] [decimal](18, 2) NULL,
	[giamgia] [int] NULL,
	[linkanh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 3/19/2024 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[uname] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/19/2024 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[SalespersonID] [int] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 3/19/2024 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [role_id]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [Make]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [Model]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [Year]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [classify]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [Price]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [Availability]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [gianhap]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (NULL) FOR [giamgia]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [CustomerID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [CarID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderDate]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [SalespersonID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [Status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (NULL) FOR [role_name]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_accounts_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [fk_accounts_roles]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_accounts] FOREIGN KEY([SalespersonID])
REFERENCES [dbo].[accounts] ([salespersonid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_accounts]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[cars] ([CarID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_cars]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[customers] ([CustomerID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_customers]
GO
USE [master]
GO
